apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Release.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        env:
          - name: RUST_LOG
            value: {{ .Values.log_level }}
        command:
          - "hms-mqtt-publish"
        args:
          - "--config"
          - "/config.yaml"
        resources:
          requests:
            memory: "16Mi"
        volumeMounts:
          - name: hms-mqtt-config
            mountPath: /config.yaml
            subPath: config.yaml
      volumes:
      - name: hms-mqtt-config
        secret:
          secretName: {{ template "hms.secretName" . }}
